@model Film
@{
}
<div>

    @(await Component.InvokeAsync("FilmyKategorii", new {nazwaKategorii = Model.Kategoria.Nazwa}))
    <p>@Model.Tytul</p>
    <p>@Model.Opis</p>
    <p>@Model.Cena</p>
    <p>@Model.Data_dodania</p>
    <p>@Model.Rezyser</p>
    <img src="~/assets/@Model.nazwaPlakatu" alt="@(Model.Tytul+" plakat")" style="max-height:250px"/>
</div>
