@model IEnumerable<ElementKoszyka>
@{
    ViewBag.Title = "Koszyk";
    Layout = "MainLayout";
}
<table class="table">
    @if(Model == null)
    {
        <tr>
            <td>
                Brak filmów w koszyku
            </td>
        </tr>
    }
    else { 
        int cnt = -1;
        @foreach(var el in Model)
        {
            cnt += 1;
            <tr id="koszykRz-@el.film.Id">
                <td>@el.film.Tytul</td>
                <td>
                    <span id="element-@el.film.Id">
                    @el.ilosc
                    </span>
                    @if (el.ilosc == 1)
                    {
                        <span>bilet</span>
                    }
                    else if(el.ilosc < 5)
                    {
                        <span>bilety</span>
                    }
                    else
                    {
                        <span>biletów</span>
                    }
                </td>
                <td>@el.wartosc zł/bilet</td>
                <td><a href="@Url.Action("Usun", "Koszyk", new {id= el.film.Id})">Usuń 1 bilet z koszyka</a></td>
                <td><a href="#" class="trash" data-id="@el.film.Id">&#128465</a></td>
            </tr>
        }
        <tr>
            <td>
                Łączna ilość biletów: @ViewBag.IloscBilet
            </td>
        </tr>
        <tr>
            <td>
                Cena: @ViewBag.CalaSuma zł
            </td>
        </tr>
    }
</table>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(".trash").click(function () {
            var idFilmu = $(this).data('id');

            if(idFilmu != ''){
                $.post("/Koszyk/UsunZKoszykaJson", { "id": idFilmu }, function (response) 
                {
                    if (response.ilosc == 0) {
                        $("#koszykRz-" + response.id).fadeOut("slow");
                    }
                }
                );
            }
        });
    </script>
}
