@model IEnumerable<ElementKoszyka>
@{
    ViewBag.Title = "Koszyk";
    Layout = "MainLayout";
}
<table class="table">
    @if(Model == null)
    {
        <tr>
            <td>
                Brak filmów w koszyku
            </td>
        </tr>
    }
    else { 
        @foreach(var el in Model)
        {
            <tr>
                <td>@el.film.Tytul</td>
                <td>@el.ilosc @if (el.ilosc == 1) {
                        <span>bilet</span>
                    }
                    else if(el.ilosc < 5)
                    {
                        <span>bilety</span>
                    }
                    else
                    {
                        <span>biletów</span>
                    }
                </td>
                <td>@el.wartosc zł/bilet</td>
                <td><a href="@Url.Action("Usun", "Koszyk", new {id= el.film.Id})">Usuń 1 bilet z koszyka</a></td>
            </tr>
        }
        <tr>
            <td>
                Łączna ilość biletów: @ViewBag.IloscBilet
            </td>
        </tr>
        <tr>
            <td>
                Cena: @ViewBag.CalaSuma zł
            </td>
        </tr>
    }
</table>

